@page "/counter"
@using BlafettisLib

<div class="jumbotron">
    <h1>Counter</h1>
    <h2>Current count: @currentCount</h2>
    <div style="margin-top:250px;">    </div>
    <button class="btn btn-primary" @onclick="IncrementCount">
        Click me
        <Blafettis @ref="blafettis" />
    </button>
</div>

@code {
    private int currentCount = 0;
    protected Blafettis blafettis;

    private void IncrementCount()
    {
        currentCount++;
        blafettis.RaiseConfetti();
    }
}
