@page "/"

@using BlafettisLib

<a href="/options">Go Demo Page</a>

<div style="position: fixed; text-align: center;width:100%;bottom: 100px;">
    <button 
        class="btn btn-primary" 
        @onclick="IncrementCount">
        ohhhh!
        <Blafettis @ref="blafettis" />
    </button>
</div>

@code {
    private int currentCount = 0;
    protected Blafettis blafettis;  // get the reference

    private void IncrementCount()
    {
        currentCount++;
        blafettis.RaiseConfetti();  // raise confetti via method
    }
}